.header-title{
	background-image: url("http://www.netanimations.net/Moving-animated-picture-of-ping-pong-ball-on-paddles.gif");
	background-size: 20vh;
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px;
	background-color: khaki;
	margin-top: 10px;
}