.players-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.score-display{
    margin: 20px;
    flex:0 0 40%;
}

